#journey {
    min-width: 20em;
    background-color: cornflowerblue;
    color: #002a5e;
    cursor: default;
}

#midline{
    display: grid;
    justify-content: center;
    padding: 2em;
    padding-bottom: 10em;
}

#options{
    display: grid;
    grid-gap: 1em;
    grid-auto-flow: row;
    grid-template-columns: repeat( auto-fit, minmax(10em, 1fr) );
    max-width: 50em;
}

.answers {
    justify-self: center;
    background-color: cornflowerblue;
    color: #001125;
    transition: opacity 2s ease-in;
    padding: 1em;
    cursor: pointer;
    text-align: center;
}

.question{
    text-align: center;
    padding-bottom: 1em;
}

.answered{
    padding-top: 1em;
    text-align: center;
    padding-bottom: 2em;
}

body {
    background-color: cornflowerblue;
    font-size: 2em;
    overflow-y: scroll;
}

#lookup {
    position: absolute;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }