#header {
    position: sticky;
    background-color: #002a5e;
    color: cornflowerblue;
    cursor: default;
    text-align: center;
    padding: 1em 0em;
    z-index: 2;
    top: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#journey {
    background-color: cornflowerblue;
    padding-top: 1em;
    color: #002a5e;
    cursor: default;
}

#midline {
    display: block;
    justify-content: center;
    padding: 0em 2em;
    padding-bottom: 5em;
}

#options {
    display: grid;
    grid-gap: 1em;
    grid-auto-flow: row;
    grid-template-columns: repeat( auto-fit, minmax(5em, 1fr));
}

.answers {
    justify-self: center;
    background-color: cornflowerblue;
    color: #001125;
    transition: opacity 2s ease-in;
    padding-bottom: 1em;
    cursor: pointer;
    text-align: center;
    min-width: 5em;
    max-width: 20em;
}

.question {
    text-align: center;
    padding-bottom: 1em;
}

.answered {
    padding-bottom: 1em;
    text-align: center;
}

body {
    background-color: cornflowerblue;
    font-size: x-large;
    overflow-y: scroll;
}

#lookup {
    position: absolute;
}

.credit{
    font-size: small;
    grid-column: 3;
}

.title{
    grid-column: 2;
    grid-row: span 2;
}

a {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}